/* ------ definitions ------ */
:root{
 --main-foreground:#3F4A3C;
 --main-background:#F6EDD9;
 --secondary-foreground:#F6EDD9;
 --secondary-background:#7A9972;
 --opacity-colour-main:rgba(246, 237, 217, 70%); /*should be rgb(from var(--main-background) r g b / 70%) and inline but validator doesn't like it*/
 --opacity-colour-secondary:rgb(122, 153, 114, 70%); /*should be rgb(from var(--secondary-background) r g b / 70%) and inline but validator doesn't like it*/
 --slight-opacity-colour-main:rgb(246, 237, 217, 90%); /*should be rgb(from var(--main-background) r g b / 90%) and inline but validator doesn't like it*/
}
/* ------ general ------ */
body{
 display:flex;
 flex-direction:column;
 height:100vh;
 margin:0;
}
a{
 text-decoration:none;
 color:currentColor;
}
a:hover{
 color:var(--secondary-foreground);
}
.validationOnly{
 display:none;
}
/* ------ header ------ */
header{
 width:100%;
 color:var(--secondary-foreground);
 background-color:var(--secondary-background);
 text-align:center;
}
header a:hover{
 color:var(--main-foreground);
}
h1,h2{
 margin:5px;
}
nav{
 text-align:right;
 margin-right:10px;
}
nav li{
 display:inline;
}
/* ------ footer ------ */
footer{
 width:100%;
 color:var(--secondary-foreground);
 background-color:var(--secondary-background);
 text-align:center;
}
footer a:hover{
 color:var(--main-foreground);
}
/* ------ main ------ */
main{
 color:var(--main-foreground);
 background-color:var(--main-background);
 width:100%;
 flex-grow:1;
 display:flex;
 flex-wrap:wrap;
 justify-content:stretch;
}
main section{
 text-align:center;
 display:flex;
 justify-content:space-around;
 flex-grow:1;
 align-items:center;
}
/* ------ main - location list ------ */
#LocationList a{
 display:flex;
 justify-content:space-around;
 align-items:center;
 width:100%;
 height:100%;
}
#LocationList section{
 flex-basis:400px;
 min-height:130px;
 background-size:cover;
 background-position:center center;
}
.overlay{
 background-color:var(--opacity-colour-main);
 display:flex;
 width:50%;
 height:50%;
 font-size:larger;
 justify-content:space-around;
 align-items:center;
}
#LocationList a img {
 display:none;
}
#LocationList a:hover{
 color:var(--secondary-foreground);
}
#LocationList a:hover .overlay{
 background-color:var(--opacity-colour-secondary);
}
/* ------ about / contact (commonalities) ------- */
#about{
 background-image:url("../images/lunch.jpg");
 background-repeat:no-repeat;
 background-position:center center;
 background-size:cover;
}
#about, #contactPage, #unknown{
 flex-direction:column;
 flex-wrap:wrap;
}
#about section, #contactPage section, #unknown section{
 flex-direction:column;
 margin:10px;
}
/* ------ about ------- */
#about section{
 justify-content:center;
 background-color:var(--opacity-colour-main);
}
#about section:nth-last-of-type(1){
 border-bottom-style:none;
}
/* ------ contact ------- */
#contactPage{
 background-image:url("../images/question.jpg");
 background-repeat:no-repeat;
 background-position:center center;
 background-size:cover;
}
#contactPage section{
 background-color:var(--slight-opacity-colour-main);
 width:100%;
 max-width:600px;
 align-self:center;
}
#contactForm{
 flex-grow:1;
 width:100%;
 max-width:600px;
}
#contactForm div{
 display:flex;
 flex-wrap:wrap;
 padding:5px;
 align-items:center;
}
#contactForm div *:focus{
 outline:2px solid var(--secondary-background);
}
#contactForm div *:not(label):not(div), #contactPage datalist{
 flex-grow:1;
 background-color:transparent;
 border:1px solid currentColor;
 caret-color:currentColor;
 color:currentColor;
}
#contactForm div select *{
 background-color:var(--main-background);
}
#contactForm div option:active, #contactForm div option:hover{
 background-color:red;
}
#contactForm label{
 text-align:right;
 flex-basis:8em;
 padding-right:5px;
}
#contactForm input[type="submit"], #contactForm input[type="reset"]{
 margin:auto 5px;
 padding:5px;
 color:var(--secondary-foreground);
 background-color:var(--secondary-background);
}
#contactForm input[type="submit"]:active, #contactForm input[type="reset"]:active{
 color:var(--main-foreground);
 background-color:var(--main-background);
}
/* ------ location - specific details ------ */
#LocationDetails{
 display:flex;
 justify-content:stretch;
 align-items:stretch;
/* width:100%;
 height:100%; */
}
#LocationDetails img {
 display:none;
}
#LocationDetails .overlay p {
 font-size:initial;
}
#LocationDetails section{
 flex-basis:400px;
 min-height:130px;
 background-size:cover;
 background-position:center center;
}
#LocationDetails section > *{
 width:100%;
 height:100%;
}
#LocationDetails details{
 display:flex;
 flex-direction:column;
 justify-content:stretch;
}
#LocationDetails details[open]{
 height:100%;
}
#LocationDetails details summary{
 cursor:pointer;
 display:flex;
 justify-content:space-around;
 align-items:center;
 background-repeat:no-repeat;
 background-position:center center;
 background-size:cover;
 height:100%;
}
#LocationDetails details summary:hover .overlay{
 background-color:var(--opacity-colour-secondary);
 color:var(--secondary-foreground);  
}
#LocationDetails details[open] summary{
 height:initial;
}
#LocationDetails details summary::marker{
 content:'';
}
#LocationDetails details > *{
 flex-grow:1;
}
#LocationDetails article {
 border-color:var(--main-foreground);
 border-width:1px;
 border-style:solid;
 border-radius:10px;
 padding:0px;
 margin:10px;
 overflow:hidden;
 color:var(--secondary-foreground);
 background-color:var(--secondary-background);
}
#LocationDetails article .overlay{
 flex-direction:column;
 justify-content:center;
 background-color:var(--opacity-colour-secondary);
}
#LocationDetails article * {
 margin:0;
}
/* ------ location - details unknown ------ */
#unknown{
 background-image:url("../images/unknown-light.jpg");
 background-repeat:no-repeat;
 background-position:center center;
 background-size:cover;
 align-items:center;
 justify-content:center;
}
#unknown section{
 background-color:var(--opacity-colour-main);
 justify-content:center;
 flex-grow:0;
 padding:10px;
}
/* ------ responsive design ------- */
@media print {
 :root{
  --main-foreground:#000000;
  --main-background:#ffffff;
  --secondary-foreground:#000000;
  --secondary-background:#ffffff;
 }
 #LocationList section{
  background-image:none;
 }
}
@media screen and (width > 1024px){
 #LocationList section{
  background-image:none;
 }
 #LocationList a img{
  display:inline-block;
  border-radius:33%;
  object-fit:cover;
  width:100%;
  max-width:50%;
  max-height:200px;
 }
 #LocationDetails details summary{
  background-image:none;
 }
 #LocationDetails article {
  padding:10px;
 }
 #LocationDetails article section{
  background-image:none;
 }
 #LocationDetails img{
  display:inline-block;
  border-radius:10%;
  object-fit:cover;
  width:100%;
  max-width:50%;
  max-height:200px;
 }
 #LocationList a:hover{
  background-color:var(--secondary-background);
 }
}
@media screen and (prefers-color-scheme:dark){
 :root{
  --main-foreground:#F6EDD9;
  --main-background:#3F4A3C;
  --secondary-foreground:#F6EDD9;
  --secondary-background:#4EB646;
 }
 #contactPage section{
  backdrop-filter: invert(100%);
 }
 #unknown{
  background-image:url("../images/unknown-dark.jpg");
 }
}
@media screen and (width < 320px){
 #contactForm label{
  text-align:left;
 }
}

