/* ------ definitions ------ */
:root{
 --main-foreground:#3F4A3C;
 --main-background:#F6EDD9;
 --secondary-foreground:#F6EDD9;
 --secondary-background:#7A9972;
}
/* ------ general ------ */
body{
 display:flex;
 flex-direction:column;
 height:100vh;
 margin:0;
}
/* ------ header ------ */
header{
 width:100%;
 color:var(--secondary-foreground);
 background-color:var(--secondary-background);
 text-align:center;
}
h1,h2{
 margin:5px;
}
nav{
 text-align:right;
 margin-right:10px;
}
nav li{
 display:inline;
}
nav a{
 text-decoration:none;
 color:currentColor;
}
/* ------ footer ------ */
footer{
 width:100%;
 color:var(--secondary-foreground);
 background-color:var(--secondary-background);
 text-align:center;
}
/* ------ main ------ */
main{
 color:var(--main-foreground);
 background-color:var(--main-background);
 width:100%;
 flex-grow:1;
 display:flex;
 flex-wrap:wrap;
 justify-content:stretch;
}
main section{
 text-align:center;
 display:flex;
 justify-content:space-around;
 flex-grow:1;
 align-items:center;
}
/* ------ main - location list ------ */
#LocationList a{
 text-decoration:none;
 color:currentColor;
 display:flex;
 justify-content:space-around;
 align-items:center;
 width:100%;
 height:100%;
}
#LocationList section{
 flex-basis:400px;
 min-height:130px;
 background-size:cover;
 background-position:center center;
}
.overlay{
 background-color:rgb(from var(--main-background) r g b / 70%);
 display:flex;
 width:50%;
 height:50%;
 font-size:larger;
 justify-content:space-around;
 align-items:center;
}
#LocationList a img {
 display:none;
}
#LocationList a:hover{
 color:var(--secondary-foreground);
}
#LocationList a:hover .overlay{
 background-color:rgb(from var(--secondary-background) r g b / 70%);
}
#BroadwickStreet-image{
 content: url("../images/BroadwickStreet.jpg") / "Image of Broadwick Street campus";
}
#BroadwickStreet-section{
 background-image:url("../images/BroadwickStreet.jpg");
}
#AmberleyRoad-image{
 content: url("../images/AmberleyRoad.jpg") / "Image of Amberley Road campus";
}
#AmberleyRoad-section{
 background-image:url("../images/AmberleyRoad.jpg");
}
#VictoriaStreet-image{
 content: url("../images/VictoriaStreet.jpg") / "Image of Victoria Street campus";
}
#VictoriaStreet-section{
 background-image:url("../images/VictoriaStreet.jpg");
}
#KendalStreet-image{
 content: url("../images/KendalStreet.jpg") / "Image of Kendal Street campus";
}
#KendalStreet-section{
 background-image:url("../images/KendalStreet.jpg");
}
#LissonGrove-image{
 content: url("../images/LissonGrove.jpg") / "Image of Lisson Grove campus";
}
#LissonGrove-section{
 background-image:url("../images/LissonGrove.jpg");
}
#Pimlico-image{
 content: url("../images/Pimlico.jpg") / "Image of Pimlico campus";
}
#Pimlico-section{
 background-image:url("../images/Pimlico.jpg");
}
#BrucknerStreet-image{
 content: url("../images/BrucknerStreet.jpg") / "Image of Bruckner Street campus";
}
#BrucknerStreet-section{
 background-image:url("../images/BrucknerStreet.jpg");
}
/* ------ about / contact (commonalities) ------- */
#about{
 background-image:url("../images/lunch.jpg");
 background-repeat:no-repeat;
 background-position:center center;
 background-size:cover;
}
#about, #contactPage, #unknown{
 flex-direction:column;
 flex-wrap:wrap;
}
#about section, #contactPage section, #unknown section{
 flex-direction:column;
 margin:10px;
}
/* ------ about ------- */
#about section{
 border-bottom-style:1px solid currentColor;
 justify-content:center;
 background-color:rgb(from var(--main-background) r g b / 70%);
}
#about section:nth-last-of-type(1){
 border-bottom-style:none;
}
/* ------ contact ------- */
#contactPage{
 background-image:url("../images/question.jpg");
 background-repeat:no-repeat;
 background-position:center center;
 background-size:cover;
}
#contactPage section{
 background-color:rgb(from var(--main-background) r g b / 90%);
}
#contactForm{
 flex-grow:1;
 width:100%;
 max-width:600px;
}
#contactForm div{
 display:flex;
 flex-wrap:wrap;
 padding:5px;
 align-items:center;
}
#contactForm div *:focus{
 outline:2px solid var(--secondary-background);
}
#contactForm div *:not(label):not(div), #contactPage datalist{
 flex-grow:1;
 background-color:transparent;
 border:1px solid currentColor;
 caret-color:currentColor;
 color:currentColor;
}
#contactForm div select *{
 background-color:var(--main-background);
}
#contactForm div option:active, #contactForm div option:hover{
 background-color:red;
}
#contactForm label{
 text-align:right;
 flex-basis:8em;
 padding-right:5px;
}
#contactForm input[type="submit"], #contactForm input[type="reset"]{
 margin:auto 5px;
 padding:5px;
 color:var(--secondary-foreground);
 background-color:var(--secondary-background);
}
#contactForm input[type="submit"]:active, #contactForm input[type="reset"]:active{
 color:var(--main-foreground);
 background-color:var(--main-background);
}
/* ------ location - amberley road ------ */
#LocationDetails{
 display:flex;
 justify-content:space-around;
 align-items:center;
/* width:100%;
 height:100%; */
}
#LocationDetails img {
 display:none;
}
#LocationDetails .overlay p {
 font-size:initial;
}
#LocationDetails section{
 flex-basis:400px;
 min-height:130px;
 background-size:cover;
 background-position:center center;
}
#walk-image{
 content: url("../images/walk.jpg") / "Image of a man walking across the street";
}
#walk-summary{
 background-image:url("../images/walk.jpg");
}
#supermarket-image{
 content: url("../images/supermarket.jpg") / "Image of a supermarket";
}
#supermarket-summary{
 background-image:url("../images/supermarket.jpg");
}
#canalside-image{
 content: url("../images/canalside.jpg") / "Image of the canal-side";
}
#canalside-section{
 background-image:url("../images/canalside.jpg");
}
#canteen-image{
 content: url("../images/canteen.jpg") / "Image of the canteen";
}
#canteen-section{
 background-image:url("../images/canteen.jpg");
}
#churchcafe-image{
 content: url("../images/churchcafe.jpg") / "Image of the church";
}
#churchcafe-section{
 background-image:url("../images/churchcafe.jpg");
}
#fishandchips-image{
 content: url("../images/fishandchips.jpg") / "Image of the fish and chip shop";
}
#fishandchips-section{
 background-image:url("../images/fishandchips.jpg");
}
#flyover-image{
 content: url("../images/flyover.jpg") / "Image of the local sights";
}
#flyover-section{
 background-image:url("../images/flyover.jpg");
}
#indian-restaurant-image{
 content: url("../images/indian-restaurant.jpg") / "Image of the indian restaurant";
}
#indian-restaurant-section{
 background-image:url("../images/indian-restaurant.jpg");
}
#kebabshop-image{
 content: url("../images/kebabshop.jpg") / "Image of the kebab shop";
}
#kebabshop-section{
 background-image:url("../images/kebabshop.jpg");
}
#localshop-image{
 content: url("../images/localshop.jpg") / "Image of a local shop";
}
#localshop-section{
 background-image:url("../images/localshop.jpg");
}
#localshopexterior-image{
 content: url("../images/localshopexterior.jpg") / "Image of local shop exterior";
}
#localshopexterior-section{
 background-image:url("../images/localshopexterior.jpg");
}
#sainsbury-image{
 content: url("../images/sainsbury.jpg") / "Image of Sainsbury's";
}
#sainsbury-section{
 background-image:url("../images/sainsbury.jpg");
}
#tesco-image{
 content: url("../images/tesco.jpg") / "Image of tesco";
}
#tesco-section{
 background-image:url("../images/tesco.jpg");
}
#waitrose-image{
 content: url("../images/waitrose.jpg") / "Image of waitrose";
}
#waitrose-section{
 background-image:url("../images/waitrose.jpg");
}
/* ------ location - details unknown ------ */
#unknown{
 background-image:url("../images/unknown-light.jpg");
 background-repeat:no-repeat;
 background-position:center center;
 background-size:cover;
 align-items:center;
 justify-content:center;
}
#unknown section{
 background-color:rgb(from var(--main-background) r g b / 70%);
 justify-content:center;
 flex-grow:0;
 padding:10px;
}
/* ------ responsive design ------- */
@media print {
 :root{
  --main-foreground:#000000;
  --main-background:#ffffff;
  --secondary-foreground:#000000;
  --secondary-background:#ffffff;
 }
 #LocationList section{
  background-image:none;
 }
}
@media screen and (width > 1024px){
 #LocationList section{
  background-image:none;
 }
 #LocationList a img{
  display:inline-block;
  border-radius:33%;
  object-fit:cover;
  width:100%;
  max-height:200px;
 }
 #LocationDetails section{
  background-image:none;
 }
 #LocationDetails img{
  display:inline-block;
  border-radius:33%;
  object-fit:cover;
  width:100%;
  max-height:200px;
 }
 #LocationList a:hover{
  background-color:var(--secondary-background);
 }
}
@media screen and (prefers-color-scheme:dark){
 :root{
  --main-foreground:#F6EDD9;
  --main-background:#3F4A3C;
  --secondary-foreground:#F6EDD9;
  --secondary-background:#4EB646;
 }
 #contactPage section{
  backdrop-filter: invert(100%);
 }
 #unknown{
  background-image:url("../images/unknown-dark.jpg");
 }
}
@media screen and (width < 320px){
 #contactForm label{
  text-align:left;
 }
}

